{% extends 'base/base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="clearfix"></div>

<div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Total Products In The Store: </h4>
                    <h2>===> {{ products }} </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Product List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                        <tr>
                            <th class="serial">#</th>
                            <th>Name</th>
                            <th>Sort No</th>
                            <th>Description</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if product %}
                        {% for product in product %}
                        <tr>
                            <td class="serial">{{ forloop.counter }}</td>
                            <td><a href="{% url 'product-detail' product.id %}">{{ product.name }}</a></td>
                            <td>{{ product.sortno }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.created_date }}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td>No Product Data</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->


</div>

{% endblock content %}